<div>
        <h1>Mongo File Uploads</h1>
        <form action="/api/upload" method="POST" enctype="multipart/form-data">
                <label for="file">Choose File</label>
                <input 
                        type="file"
                        name="file"
                        id="file"
                />
                <button type="submit">Submit</button>
        </form>
</div>